
.container {
  display: flex;
  flex-direction: column;
  background-color: grey;
  padding-top: 0px;
  padding-bottom: 0px;
}

.bg-container {
  border-right: 2px solid black;
  padding: 25px;
  background-color: white;
  align-self: center;
  flex-grow: 1;
  overflow: auto;
  margin-left: 180px;
}


.header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color:  #1aff1a;
  position: fixed;
  width: 100%;
  align-self: stretch;


}
.resume-header {
  font-weight: bold;
  font-size: 16px;
  color: white;
  padding: 12px;
  
}

@media screen and (max-width: 576px){
  .bg-container {
    align-self: center;
    margin-left: 15%;
    margin-right: 15%;
  }
}

@media screen and (min-width: 768px){
  .bg-container {
    width: 60%;
    max-width: 1120px;

  
  }
}

.heading {
  text-align: center;
  font-family: "Roboto";
  font-weight: bold;
  color: blue;
  font-size: 32px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  

}
.address-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
  

}
.paragraph {
  text-align: center;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 18px;
  color: rgb(17, 12, 12);
  padding: 0px;
}



.mail-paragraph {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 18px;
  color: blue;
  text-decoration: underline;
  margin-left: 5px;
  text-align: center;
  padding: 0px;
  
}

.linkedin-paragraph {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 18px;
  color: blue;
  text-decoration: underline;
  margin-left: 5px;
  text-align: center;
  padding: 0px;
  margin-top: 0px;
}

.side-heading {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 20px;
  color: black;
  margin-top: px;
  margin-bottom: 0px;
}

.hr-line {
  background-color: black;
  height: 1px;
  text-align: center;
  margin-top: 0px;
}

.text-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0px;
}

.text-paragraph {
  font-weight: 600;
  font-size: 19px;
  margin-bottom: 0px;
  
  

}

.bottom-text-paragraph {
  margin-top: 0px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 17px;
  color: black;
}


.course-title {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 20px;
  color: black;
  margin-top: 0px;
}

.course-name {
  font-family: "Roboto";
  font-weight: 200;
  font-size: 18px;
  color: black;
  padding-left: 12px;
}

.project-heading {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 18px;
  color: black;
  margin-bottom: 0px;
}

.project-link {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 17px;
  color: blue;
  text-decoration: underline;
}

.project-description {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  color: black;
  margin-top: 8px;
}

.unordered-list {
  margin-top: 0px;
  margin-bottom: 0px;
}

.list-item {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  color: black;
}


.footer-element {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color:  #1aff1a;
  align-self: stretch;
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 40px;
  
}


.zoho-mail {
  padding-left: 5px;
  padding-bottom: 6px;
  color: white;

}



.sidebar-bg-container {
  display: flex;
  flex-direction: row;
  

}

.sidebar {
  flex-shrink: 0;
  left: 0;
  background-color: aqua;
  width: 140px;
  padding: 20px;
  font-family:'Times New Roman', Times, serif;
  position: fixed;
  height: 100%;
  margin-top: 45px;
  
}

@media (max-width: 576px){
  .sidebar {
    display: none;
  }
}
